extends ../layout

block content
    h1 Login

    form(method='POST' action='login')
        input(type='hidden', name='_csrf', value=csrfToken)
        label(for='username') Username:
        input#title(type='text', name='username')
        br
        label(for='password') Password:
        input#description(type='password', name='password')

        button(type='submit') Login
