extends ../layout

block content
    h1 Register new user

    if errors
        each error in errors
            p= error.msg

    form(method='POST' action='create')
        input(type='hidden', name='_csrf', value=csrfToken)
        label(for='name') Email:
        input#title(type='text', name='email')
        br
        label(for='username') Username:
        input#title(type='text', name='username')
        br
        br
        br
        label(for='password') Password:
        input#description(type='password', name='password')
        br
        label(for='password_confirmation') Password Confirmation:
        input#description(type='password', name='password_confirmation')

        button(type='submit') Create
