extends ../layout

block content
    h1 Index page

    ul
        each post in posts
            li= post.title  +" "+  post.description
            a(href='posts/'+post.id+'/edit') edit
            |
            a(href='posts/'+post.id) Show

    a(href='posts/new') New post
